.boucles{
  background-color: #6B6680;
}

.bracelets{
  background-color: #4E4963;
}

.bagues{
  background-color: #6B6680;
}

.contact{
  background-color: #16112C;
}
.titre{
  text-align: center;
  text-shadow: -6px 3px black;
}

.conditions{
  background-color: #6B6680;
}

.image-bijoux{
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.image-container{
  border-radius: 50px;

}
.container-bijoux{
  padding-bottom: 70px;
}

.info-bijoux{
  vertical-align:middle;
  display: table-cell;
}
.bijoux-titre{
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.image-dynamique {
        position: relative;
        display: inline-block;
    }
.image-dynamique .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.image-dynamique:hover .img-top {
    display: inline;
}
