.boucles{
  background-color: #20c997;
}

.bracelets{
  background-color: #17a2b8;
}

.bagues{
  background-color: #dc3545;
}

.contact{
  background-color: #e83e8c;
}


.conditions{
  background-color: #6c757d;
}
